<h3><%= list.escape('title') %></h3>

<ul class="cards" data-list-id="<%= list.id %>">
  <% cards.each(function (card) { %>
    <li class="cards-list-item" data-card-id="<%= card.id %>" data-card-ord="<%= card.get('ord') %>">
      <%= card.escape('title') %>
      <button class='delete-card' data-card-id="<%= card.id %>">Delete</button>
    </li>
  <% }) %>

  <li class="cards-list-item-new">
    <a href="<%= '#/lists/' + list.id + '/new' %>"
       class="new-card">
      Add a new card
    </a>
  </li>
</ul>
